@import "tailwindcss";

/* @import "colbrush/styles.css"; */

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/font/PretendardVariable.woff2") format("woff2-variations");
}

.am5-layer-30 {
  display: none;
}

@theme {
  --color-bg: #060010;
  --color-primary: #8144ff;
  --color-secondary: #c89ae8;
  --color-gray-100: #909090;
  --color-gray-200: #555555;
  --color-gray-300: #252525;

  --color-protanopia-a: #a34245;
  --color-protanopia-b: #7e464a;
  --color-protanopia-sub-a: #275841;
  --color-protanopia-sub-b: #455c4e;
  --color-protanopia-sub-c: #525856;

  --color-deuteranopia-a: #11724d;
  --color-deuteranopia-b: #5a7d6e;
  --color-deuteranopia-sub-a: #b84f47;
  --color-deuteranopia-sub-b: #a04d4d;
  --color-deuteranopia-sub-c: #6b6363;

  --color-tritanopia-a: #7287e4;
  --color-tritanopia-b: #627cac;
  --color-tritanopia-sub-a: #5ba192;
  --color-tritanopia-sub-b: #4da08b;
  --color-tritanopia-sub-c: #4c7e71;

  --color-red: #ff2727;
  --color-deep-red: #cf1e25;
  --color-yellow: #ffb720;
  --color-light-green: #52c93f;
  --color-green: #008543;
  --color-blue: #006aff;
  --color-gray-blue: #3d4852;
  --color-deep-blue: #00549f;
  --color-purple: #884dff;

  --shadow-custom: 0 0 6px 0 rgba(0, 0, 0, 0.25);

  --font-pretendard: "Pretendard Variable";
}
